.footer-principal{
  background: var(--couleur-noir--);
  color: var(--couleur-blanc--);
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;




p{
  margin: 0;
}



}
