.interet .conteneur{
  background-image: url("../../images/bg-interet.jpg");
  display: flex;
  flex-direction: column;





  h3{
    font-size: 40px;
    line-height: 54px;
  }



  p{
    color: darkblue;
  }




}
