:root{
  --couleur-blanc-- : #fff;
  --couleur-noir--: #000;

  --couleur-principal--: #a7029a;
  --couleur-secondaire--: darkgrey;

  --degrade-principal--: linear-gradient(36deg, rgba(17,2,114,8.7) 0%, rgba(167,2,154,0)100%);
}
