h1{
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #FFFFFF;
  font-family: 'Bungee Shade', cursive;
  padding-left: 152px;
}



h2{
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #FFFFFF;
  font-family: 'Bungee Shade', cursive;
}